.bannerBody{
    height: 60px;
    position: relative;
    background: #56A661;
    color: #ffffff;
    cursor: pointer;
    /* padding: 10px, 80px, 10px, 0px; */
    
}
.content{
    font-family: poppins;
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

.bannerBody img{
    height: 40px;
    width: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.bannerClose{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
    border: none;
    border-radius: 50% 10% 50% 50%;
    background: #ff2525;
    color: #ffffff;
    font-size: 15px;
    z-index: 100000;
}