.outer-acc {
  width: 90%;
}
.accordion .accordion-button {
  background-color: black;
  color: white;
}

.accordion .accordion-button:not(.collapsed) {
  color: #00c374;
  border-bottom: 1px solid #00c374;
  background-color: black;
}

.accordion .acc-body {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 40px;
  color: #e7e7e7e8;
  background-color: black;
}

.accordion .accordion-button:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .outer-acc {
    width: 100%;
  }
}
