.container-fluid {
    max-width: 1495px;
}

.super-banner img {
    width: 70%;
}

.banner-super {
    padding-top: 70px;
}

img.border-img {
    margin-top: 63px;
    width: 100%;
    padding-bottom: 100px;
}

.super-part {
    padding: 33px 55px;
    background: #FFFFFF;
    box-shadow: 3px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    position: relative;
}

.super-img {
    position: absolute;
    bottom: 0;
    right: 101px;
}

.super-img img {
    width: 723px;
}


.super-title {
    position: relative;
}

.super-title:after {
    position: absolute;
    top: 0;
    left: -27px;
    width: 10px;
    height: 100%;
    content: '';
    background: #4BA25D
;
}

.super-title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #4BA25D
;
    margin: 0;
}

.super-title h2 span {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
}

.super-title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.super-title p span {
    color: #BD2626;
    font-weight: 600;
}

p.update {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
    background: #282828;
    color: #fff;
    margin-bottom: 5px;
    display: inline-block;
    padding: 0 8px;
    border-radius: 50px;
}

p.update svg {
    width: 24px;
    height: 24px;
}

.super-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.super-area ul li {
    margin-top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    display: flex;
}

.super-course-area {
    padding: 30px 0;
    background: #f4f4f4;
}

.super-area ul li svg {
    margin-right: 6px;
    font-size: 14px;
    min-width: 14px;
}

li.green-check svg {
    color: #4BA25D
;
}

p.note-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    border: 1px solid #000000;
    border-radius: 29px;
    display: inline-block;
    margin-top: 17px;
    padding: 3px 12px;
}

h2.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

p.upcomeing {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-top: 17px;
    margin-bottom: 0;
}

.course-all span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    background: #E6FFF3;
    border-radius: 44px;
    padding: 4px 12px;
    margin-right: 10px;
    margin-bottom: 6px;
    display: inline-block;
}

.course-all {
    margin-bottom: 14px;
    width: 310px;
    margin-top: 7px;
}

.apply-free button {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    background: #BF1515;
    border-radius: 25px;
    padding: 2px 19px;
}

.super-img {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.super-img img {
    width: 478px;
}

.super-text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #4BA25D
;
    margin: 0;
}

.super-text h1 span {
    color: #8B8B8B;
    font-size: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
}

.super-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    color: #3C4852;
}

.super-text button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    /* color: #4BA25D; */
    color: white;
    background: #4BA25D;
    padding: 10px 18px;
    border-radius: 5px;
    margin-top: 15px;
    border-color: #4BA25D;
    /* cursor: none !important; */
}
.super-text button:hover {
    
    background-color: black;
    color: white;
   
    
}

.super-text {
    text-align: end;
}
.reserve_pre_cources_button button {
    position: relative;
    width: 227px;
}


.super-banner {
    

}
.reserve_pre_cources_button{
    /* display: flex; */
    flex-direction: column;

}
.reserve_pre_cources_button button:after {
    position: absolute;
    content: "";
    background: red;
    /* width: 16px;
    height: 16px; */
    border-radius: 50%;
    left: -30px;
    top: 50%;
    margin-top: -8px;
}

.Super30Brochere {
    margin-top: 5px !important;
}

.sm {
    display: inline-block;
}

.sloop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: #fff;
    padding: 33px 55px;
    border-radius: 13px;
}

/* hero area */

h2.next-batch {
    background: #fff;
    padding: 14px 22px;
    border-radius: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
}

.question-area {
    background: white;
    margin-bottom: 30px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 13px;
    height: 105px;
}

.question-area h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
    text-align: left;
}

.question-area button {
    min-width: 178px;
    text-align: center;
    color: #4BA25D;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px 17px;
    margin: 5px;
    border: 1px solid #4BA25D;
    background: white;
}

.right-area{
    background: #FFFFFF;
    border-radius: 12px;
    height: 100%;
}
/* road map */

.road-map {
    padding: 25px;
    background: #FFFFFF;
    border-radius: 12px;
  
}

.road-title h1:after {
    position: absolute;
    top: 4px;
    left: -15px;
    width: 9px;
    height: 77%;
    background: #3C4852;
    content: '';
}
.road-title1 h1:after {
    position: absolute;
    top: 4px;
    left: -15px;
    width: 9px;
    height: 77%;
    background: #000;
    content: '';
}



.road-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #3C4852;
    margin-left: 17px;
    margin-bottom: 7px;
    position: relative;
}

.road-map-paddeing-bottom{
    margin-bottom: 26px;
}

p.free-apply {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4BA25D
;
    border-radius: 46px;
    padding: 9px 20px;
    margin-bottom: 1px;
}

.road-btu {
    text-align: center;
}

img.arrowimg {
    margin: 14px 0;
}

.single-btu {
    display: flex;
    justify-content: center;
    background: #4BA25D
;
    border-radius: 67.5px;
    gap: 15px;
    width: 244px;
    margin: auto;
    box-shadow: 2px 6px 5px #282828;
}

.single-btu p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 11px 0;
}

/* about area */


.super-about {
    padding: 35px 60px 35px 35px;
    background: #FFFFFF;
    border-radius: 12px;
}

.super-about-area {
    background: #F6F6F6;
    padding: 63px 0;
}

.super-about h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    position: relative;
    font-size: 23px;
    margin-bottom: 20px;
    margin-left: 18px;
}

.super-about p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.super-about h2:after {
    position: absolute;
    top: 0;
    left: -16px;
    width: 7px;
    height: 100%;
    content: '';
    background: #000;
}

.single-btu p span {
    color: #dc3545;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Inter';
}
.single-btu p span:hover {
    color: #BD2626;
    text-decoration: underline;
}

.single-btu p span.yellow {
    color: #FFBF5A;
}

.single-btu.yellow {
    width: 285px;
}

.single-btu.yellow p span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.winner {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.left-winer {
    width: 177px;
}

.right-winer {
    width: 177px;
}

.left-winer .single-btu.yellow {
    width: 100%;
    padding: 14px 0;
    background: #FFC52F;
    margin-top: 11px;
}

.right-winer .single-btu.yellow {
    width: 100%;
    padding: 10px 0;
    background: #FFE8C4;
    margin-top: 11px;
}

.right-winer .single-btu.yellow p {
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.left-winer .single-btu.yellow p {
    color: #000;
}

.right-winer .single-btu.yellow p {
    color: #000;
}

.winner {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.left-winer {
    width: 177px;
}

.right-winer {
    width: 177px;
}

.left-winer .single-btu.yellow {
    width: 100%;
    padding: 14px 0;
    background: #FFC52F;
    margin-top: 11px;
}

.right-winer .single-btu.yellow {
    width: 100%;
    padding: 10px 0;
    background: #FFE8C4;
    margin-top: 11px;
}

.right-winer .single-btu.yellow p {
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.left-winer .single-btu.yellow p {
    color: #000;
}

.right-winer .single-btu.yellow p {
    color: #000;
}

.super-img.img-2 img {
    width: 586px;
}

.super-area.secant-part {
    margin-top: 30px;
}

.super-title.secant-part h2 {
    color: #AD81FF;
}

.super-title.secant-part:after {
    background: #AD81FF;
}

li.green-check.secant-part svg {
    color: #AD81FF;
}

.course-all.secant-part span {
    background: rgba(173, 129, 255, 0.25);
}

.super-title.dis {
    display: none;
}

/* modal */

.single-list span {
    padding: 9px;
}

.list-option {
    border: 1px solid #000000;
    border-radius: 12px;
    text-align: left;
    max-width: 542px;
    margin: auto;
}

.single-list span {
    width: 50%;
    display: inline-block;
    border: 1px solid #000000;
}

.modal-title.h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    background: #000000;
    border-radius: 39px;
    text-align: center;
    color: #fff;
    padding: 11px 30px;
}

.pay-area h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 15px;
}

.pay-area h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.pay-area p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.pay-area p span {
    color: #BD2626;
    font-weight: 400;
}

.modal-title.h4 span.green {
    color: #56A661;
}

.modal-title.h4 span.red {
    color: #F22D2D;
}

.pay-area .modal-content {
    max-width: 715px;
}


.pay-area {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 23px;
}

.fade.modal-pay.modal.show .modal-dialog {
    max-width: 770px;
}


.pay-area span.red {
    color: #F22D2D;
}

h4.modal-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    padding: 5px 8px;
    background: #000000;
    border-radius: 39px;
    margin-bottom: 17px;
}

.pay-area span.green {
    color: #56A661;
}

span.rede1 {border-top-left-radius: 10px;}

span.right.rede2 {
    border-top-right-radius: 10px;
}

span.lest1 {
    border-bottom-left-radius: 10px;
}

span.right.lest2 {
    border-bottom-right-radius: 10px;
}

@media (min-width: 10px) and (max-width: 1430.98px) {
    .super-img {

        right: 0;
    }

    .super-img img {
        width: auto;
    }

    .super-img.img-2 img {
        width: auto;
    }
}

@media (min-width: 100px) and (max-width: 1200.98px) {
    .super-text h1 {
        font-size: 50px;
    }

    .super-text p {
        font-size: 30px;
    }

    .road-map {

        text-align: center;
    }

    .road-title h1:after {
        background-color: transparent;
    }

    p.free-apply {
        display: inline-block;
    }

    h2.next-batch{
        margin-top: 30px;
    }
}

@media (min-width: 100px) and (max-width: 790.98px) {
    .super-img {
        display: none;
    }

    .super-text button {

        font-size: 18px;
        padding: 0px 10px;
        margin-top: 10px;
    }

    .super-text h1 span {
        font-size: 28px;
    }

    .super-text h1 {
        font-size: 26px;
    }

    .banner-super {
        padding-top: 43px;
        padding-bottom: 30px;
    }

    img.border-img {
        margin-top: 0;
        padding-bottom: 0;
    }

    .sloop {
        align-items: center;
    }
}

@media (min-width: 100px) and (max-width: 767.98px) {

    .super-banner {
        width: auto;
        margin-bottom: 20px;
    }

    .sloop {
        display: block;
        text-align: center;
    }

    .super-text {
        text-align: center;
    }

    .course-all {
        width: auto;
    }

    .single-btu.yellow {
        width: auto;
    }

    .single-btu {
        width: auto;
    }



    .single-btu.yellow p {
        font-size: 11px;
    }

    .single-btu.yellow p span {

        font-size: 13px;
    }

    p.update {

        padding: 10px 18px;
    }

    .super-title h2 span {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1200.98px) {
    .super-banner {
        width: 360px;
    }
}

@media (min-width: 100px) and (max-width: 421.98px) {

    .reserve_pre_cources_button button:after{
        content: none;
    }

    .reserve_pre_cources_button button{
        width: auto;
    }

    .sloop {
       
        padding: 33px 0px;
       
    }

    .top-div{
        margin-top: 30px;
    }
    .super-title {
        display: none;
    }

    .super-title.dis {
        display: block;
        text-align: center;
    }

    p.update img {
        display: none;
    }

    .single-btu.yellow img {
        display: none;
    }

    .winner {
        gap: 10px;
    }

    .right-winer .single-btu.yellow {
        padding: 10px;
    }

    h4.modal-title {
 
        font-size: 15px;
    }

    .single-list {
        font-size: 10px;
    }
}