.chatbot{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 35rem;
    background-color: ghostwhite;
    border-radius: 10px;
    z-index: 1000;
    overflow: hidden;
}

.chatbot_header{
    height: 4rem;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot_header_text{
    line-height: 0;
    margin: 0;
    color: white;
    padding: 2rem;
}

.chatbot_header_btn{
    border: none;
    background-color: transparent;
    color: white;
    padding: 2rem;

}
.messages_user{
    display: flex;
    justify-content: end;
    
    
}
.messages_df{
    
    display: flex;
    justify-content: start;
   
}

.message_text_user{
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    border-bottom-left-radius: .8rem;
    padding: .5rem .5rem;
    background-color: lightgray;
}
.message_text_df{
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    padding: .5rem .5rem;
    background-color: lightgray;
}

.chatbot_body{
    height: 30rem;
    background-color: ghostwhite;
    padding: 1rem;
    overflow-y: scroll;

}
.messages{
    
}

.chatbot_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: seagreen;
}

.chatbot_footer_input{
    padding: 1rem;
    width: 80%;
    
    
}
.chatbot_footer_input:focus{
    outline: none;
}

.chatbot_footer_btn{
    /* width: 20%; */
    border: none;
    border-radius: 5px;
    color: black;
    width: auto;
    font-size: 20px;
    background-color: ghostwhite;
    margin: auto;
    padding: 10px 15px 10px 15px;
}
.chatbot_footer_btn:hover{
   background-color: rgb(231, 231, 231);
}