

.menu-gr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 89;
}

.menu-gr nav.shadow-sm.mb-custom.px-5.navbar.navbar-expand-sm.navbar-light.bg-white.sticky-top {
  margin: 0;
}

a.text-dark.text-decoration-none.free {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #4BA25D !important;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 6px 11px;
}


a.text-dark.text-decoration-none.supper {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  background: #4BA25D;
  border-radius: 5px;
  padding: 6px 11px;
  color: #fff !important;
}

.brand {


  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -1px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  text-transform: uppercase;
  color: var(--pink-500);
}

.mb-custom {
  margin-bottom: 20px;
}

.mb-custom2 {
  margin-bottom: -20px;
}

.darkmode .brand {
  color: var(--white-100);
}

.modal-dialog {
  width: 701px;
}

.from-title.modal-title.h4 {
  font-size: 22px;
  font-weight: 600;
  font-family: montserrat;
  position: relative;
}

.from-title.modal-title.h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #02c475;
}

.modal-form input {
  width: 100%;
  padding: 12px;
  background: aliceblue;
  border: none !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-form.check input {
  width: auto;
  margin-right: 10px;
}

.modal-form.check a {
  text-decoration: none;
}



/* dropdown menu */

.top-menu {
  display: flex;
  position: absolute;
  top: 0;
  right: -567px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 1px #000;
  padding: 20px 30px;
  font-family: inherit;
  gap: 21px;
}

.single-menu{
  width: 208px;
}

.single-menu p, .single-menu p a{
  color: #00c374;
  font-size: 1rem;
  font-weight: 500;
}

a.menu-color {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: #000;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

a.menu-color:hover {
  color: #00c374;
}

.single-menu:hover a {
  background: transparent;
}

.single-menu a {padding: 5px 0;}

.single-menu .dropdown-item{
  white-space: normal;
}

.menu-sub {
  margin: 10px 0;
}

@media (min-width: 100px) and (max-width: 1000.98px) {
  .top-menu {
    display: block;
  }
}
@media (min-width: 1000px) and (max-width: 1100.98px) {
  .top-menu {
    right: -300px;
  }
}
@media (min-width: 100px) and (max-width: 1200.98px) {
  .top-menu {
    right: 0px;
  }

  .top-menu {
    display: block;
    position: relative;
    
}
}




