.brand {
    

    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -1px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-transform: uppercase;
    color: var(--pink-500);
  }
  .mb-custom {
    margin-bottom: 20px ;
  }
  .mb-custom2{
    margin-bottom: -20px;
  }
  
  .darkmode .brand {
    color: var(--white-100);
  }

  .modal-dialog {
    width: 701px;
}

.from-title.modal-title.h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: montserrat;
    position: relative;
}

.from-title.modal-title.h4:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #02c475;
}

.modal-form input {
  width: 100%;
  padding: 12px;
  background: rgb(224, 236, 248);
  border: none !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-form.check input {
  width: auto;
  margin-right: 11px;
}
.modal-form.check a {
  text-decoration: none;
}