/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* if we nedd roboto front then jsut uncomment the bello thing*/
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
  
  /* // for the google fonsts */
  font-family: 'Open Sans', sans-serif !important; 
  font-family: 'Poppins', sans-serif !important;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
